@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('ttf'),
      url('./fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
  }

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body, html {
    height: 100%;
    margin: 2em;
    margin-left: 8em;
    margin-right: 8em;
    font-family: 'Montserrat', sans-serif;
}

img {
    height: 45em;
}

.header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 1084px;
}

    li {
        list-style: none;
    }

    .nav-menu {
        display: flex;
        flex-direction: row;
        gap: 1em;
        text-decoration: none;
    }

        .submenu-link:hover {
            color: brown;
        }

        .submenu-link:active {
            color: black;
            text-decoration: none;
        }

        a {
            text-decoration: none;
        }

.body-container {
    width: 1084px;
}

    .menu-page {
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: 1fr;
        gap: .5em;
    }

        .menu-header {
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            font-size: 2em;
        }

        .menu-item {
            display: grid;
            /* background-color: #eae7dc; */
            padding: 1em;
            border: lightgray;
            border-style: solid;
            border-width: thin;
            border-radius: 1em;
            gap: .5em;
        }

            .item-name {
                font-size: 1em;
                font-weight: bold;
            }

            .item-text {
                color: gray;
            }