@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('ttf'),
      url('./fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
  }

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body, html {
    height: 100%;
    margin: 2em;
    margin-left: 8em;
    margin-right: 8em;
    font-family: 'Montserrat', sans-serif;
}

.home-image {
    height: 45em;
}

.header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    /* width: 1084px; */
}

    li {
        list-style: none;
    }

    .nav-menu {
        display: flex;
        flex-direction: row;
        gap: 1em;
        text-decoration: none;
    }

        .submenu-link:hover {
            color: brown;
        }

        .submenu-link:active {
            color: black;
            text-decoration: none;
        }

        a {
            text-decoration: none;
        }

.body-container {
    width: 1084px;
}

.cover-container {
    display: flex;
    justify-content: center;
}

    /* MENU PAGE */
    .menu-page {
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: 1fr;
        gap: .5em;
    }

        .menu-header {
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            font-size: 2em;
            height: 4em;
        }

        .menu-item {
            display: grid;
            /* background-color: #eae7dc; */
            padding: 1em;
            border: lightgray;
            border-style: solid;
            border-width: thin;
            border-radius: 1em;
            gap: .5em;
        }

        /* .menu-item :hover {
            border: #e98074;
            border-style: solid;
            border-width: thin;
        } */

            .item-name {
                font-size: 1em;
                font-weight: bold;
            }

            .item-text {
                color: gray;
            }

    /* ABOUT PAGE */
    .about-page {
        display: grid;
        grid-template-rows: 1fr 3fr 1fr;
        grid-template-columns: 1fr;
        gap: .5em;
    }

        .about-header {
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            font-size: 2em;
            height: 4em;
        }

        .about-cover {
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .about-image {
                height: 30em;
            }

        .about-text {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .about-hours {
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            height: 1em;
        }

            .hours-header {
                grid-row: 1;
                grid-column: 1 / 3;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 2em;
                font-weight: bold;
                font-size: 1em;
                height: 2em;
            }

            .hours-days {
                grid-row: 2;
                grid-column: 1 / 2;
                display: flex;
                justify-content: flex-end;
            }

                .day-list {
                    position: relative;
                    right: 2em;
                }

            .hours-time {
                grid-row: 2;
                display: flex;
                justify-content: flex-start;
            }

    .events-page {
        display: grid;
        grid-template-rows: repeat(2, 1fr) 3fr;
        grid-template-columns: 1fr;
        gap: .5em;
    }

        .contact-header {
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            font-size: 2em;
            height: 4em;
        }

        .contact-text {
            display: flex;
            justify-content: center;
        }

        .form-li {
            display: flex;
            flex-direction: column;
        }

            #message {
                height: 8em;
            }