@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('ttf'),
      url('./fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
  }

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body, html {
    height: 100%;
    margin: 2em;
    margin-left: 8em;
    margin-right: 8em;
    font-family: 'Montserrat', sans-serif;
}

img {
    height: 45em;
}

.header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 1084px;
}

    li {
        list-style: none;
    }

    .nav-menu {
        display: flex;
        flex-direction: row;
        gap: 1em;
        text-decoration: none;
    }

        .submenu-link:hover {
            color: brown;
        }

        .submenu-link:active {
            color: black;
            text-decoration: none;
        }

        a {
            text-decoration: none;
        }

.body-container {
    width: 1084px;
}
    .menu-page {
        display: grid;
        grid-template-rows: 5;
        grid-template-columns: 1;
    }